{{- /* Returns the display label for a page. publication_types take precedence over the section name. */ -}}
{{- $t := .Params.publication_types | default slice -}}
{{- $l := "label_paper" -}}
{{- if or (in $t "under_review") (eq .Params.status "under_review") }}{{ $l = "label_preprint" }}
{{- else if in $t "journal_article" }}{{ $l = "label_article" }}
{{- else if in $t "presentation" }}{{ $l = "label_presentation" }}
{{- else if in $t "data" }}{{ $l = "label_dataset" }}
{{- else if in $t "software" }}{{ $l = "label_software" }}
{{- else if or (in $t "book") (in $t "book_chapter") }}{{ $l = "label_book" }}
{{- else if in $t "thesis" }}{{ $l = "label_thesis" }}
{{- else if in $t "patent" }}{{ $l = "label_patent" }}
{{- else if in $t "court_brief" }}{{ $l = "label_court_brief" }}
{{- else if eq .Section "talk" }}{{ $l = "label_presentation" }}
{{- else if eq .Section "software" }}{{ $l = "label_software" }}{{ end -}}
{{- return (i18n $l) -}}
