<!doctype html>
<html lang="{{ site.LanguageCode | default "en" }}" class="light" data-theme="light" data-scheme="light">
<head>
  {{- partial "site_head_custom.html" . -}}
</head>
<body class="page-{{ .Kind }} section-{{ .Section | default "home" }}">
  <a class="skip-link" href="#main">{{ i18n "skip_to_content" }}</a>
  {{- partial "components/headers/navbar.html" . -}}
  <main id="main" tabindex="-1"{{ if not (in (slice "taxonomy" "term") .Kind) }} data-pagefind-body{{ end }}>
    {{- block "main" . }}{{ end -}}
  </main>
  {{- partial "site_footer.html" . -}}
  {{- partial "components/search-modal.html" . -}}
  {{- partial "site_scripts.html" . -}}
</body>
</html>
